@media (max-width: 1920px) {

    
    .header {
        .burger {
            display: none;
        }
        padding: 0 150px;
    }

    .promo,
    .service,
    .care,
    .testimonials,
    .benefits,
    .discount {
        padding-left: 350px;
        padding-right: 350px;
        width: 100%;
    }

    .testimonials {
        padding-left: 350px;
        padding-right: 350px;

    }
    .benefits {
        margin-bottom: 50px;
        .wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

}

@media (max-width: 1366px) {

    .header .burger {
        display: none;
    }

    .header {
        padding: 0 50px;
    }
    .promo,
    .service,
    .care,
    .testimonials,
    .benefits,
    .discount {
        padding-left: 100px;
        padding-right: 100px;
    }

    .testimonials {
        padding-left: 120px;
        padding-right: 120px;
        .comment__block {
        }

    }

    .promo__photo-side {
        margin-top: 180px;

        .frame {
            width: 500px;
            height: 535px;

            img {
                width: 460px;
                height: 435px;
            }
        }

    }

    .prices {
        height: 1600px;

        &__left-side,
        &__right-side {
            width: 70%;
            margin: 90px auto;

            img {
                height: 500px;
            }
        }

        .price-list {
            margin-top: 0;
        }

        &__left-side button {
            position: absolute;
            right: 0;
        }

        .right-cub {
            bottom: -90px;
            right: 420px;
        }

        .left-cub {
            top: -90px;
            left: 420px;
        }
    }
    .benefits {
        margin-bottom: 50px;
        .wrapper {
            text-align: center;
            display: flex;
            justify-content: space-between;
            .cub-border {
                margin: 0 auto;
            }
        }
    }


}
@media (max-width: 1200px) {

    .scroll_up {
        display: none !important;
    }

    .header {
        position: fixed;
        z-index: 999;
        background: $color_main;
        width: 100%;
        height: 75px;
        top: 0;
        .show {
            display: flex!important;
        }
        .header__wrapper {
            position: absolute;
            flex-direction: column;
            display: none;
            justify-content: space-between;
            height: 100vh;
            width: 50%;
            right: 0;
            top: 75px;
            text-align: center;
            font-size: 30px;
            background: rgba(75, 127, 131, 0.8);

            .header__phone {
                margin-top: 50px;
                width: 100%;
                color: #fff;
                img {
                    position: relative;
                    bottom: 20px;
                    width: 30px;
                    height: 30px;
                }
                a {
                    color: #fff;
                }
                
            }
            .header__nav {
                
                flex-direction: column;
                height: 50vh;
                width: 100%;
                a {
                    color: wheat;
                }
            }
            .header__socials {
                width: 100%;
                height: 25vh;
                padding: 0 15px;
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }    
        .header__button {
            display: none;
        }
        .burger {
            display: block;
        }
    }
    .promo {
        padding: 0 200px;
        margin-top: 75px;
        height: 550px;
        &__text-side {
            margin-top: 100px;
            h1 {
                font-size: 42px;
            }
            .description {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .frame {
            width: 300px;
            height: 320px;
            img {
                width: 280px;
                height: 280px;
                transform: translate(-30px, 10px);
            }
        }
        .promo__photo-side {
            margin-top: 120px;
        }
    }
    .service {
        height: auto;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 0;
        .service__wrapper {
            flex-wrap: wrap;
            .item {
                margin: 0 auto 100px auto;
                text-align: center;
            }
        }
    }
    
    .care__photo-side {
        display: none;
    }
    .care__text-side {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .care {
        height: auto;
        padding-top: 70px;
        padding-bottom: 70px;
        .wrapper {
            width: 700px;
            
        }
    }
    .container__prices {
        width: 100%;
    }
    .prices__left-side {
        .right-cub {
            display: none;
        }
        button {
            width: 200px;
            display: block;
            margin: 20px auto;
            position:unset;
        }
    }    
    .prices__right-side {
        .price-list {
            padding-left: 0;
        }
        .left-cub {
            display: none;
        }
        button {
            width: 200px;
            display: block;
            margin: 20px auto;
        }
    }
    .testimonials {
        padding: 50px 15px; 
        height: auto;
        .comment__wrapper {
            flex-wrap: wrap;
            .comment__block {
                margin: 0 auto 50px auto;
            }
        }
    }
    .benefits {
        padding: 100px 150px 0;
        height: auto;
        .main-wrapper {
            display: flex;
            text-align: center;
            justify-content: space-between;
            margin-bottom: 50px;
            .wrapper {
                flex-direction: column;
                justify-content: flex-start;
                .item {
                    margin-bottom: 50px;
                    .cub-border {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .discount {
        height: auto;
        padding: 50px 15px;
            .left-side {
                width: 100%;
                margin: 50px auto 0;
                br {
                    display: none;
                }
                .title {
                    text-align: center;
                }
                .discount__header {
                    text-align: center;
                    font-size: 32px;
                    line-height: 48px;
                }
                p {
                    text-align: center;
                }
                .dis-block {
                    width: 80%;
                    display: flex;
                    margin: 0 auto;
                    .contact-block {
                        padding: 25px 15px;
                    }
                }
            }
           
        .dis-descr{ 
            width: 50%;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        
        .right-side {
            width: 100%;
            form {
                display: block;
                margin: 0 auto; 

            }
        }
    }
    .footer {
        .social-wrapper {
            width: 25%;
        }
    }
    
    
}
@media (max-width: 1080px) {
    

    .promo {
        padding: 0 180px;
        .promo__text-side {
            .description {
                font-size: 14px;
            }
        }
    }
    .discount {
        display: block;
        .left-side {
            .dis-block {
                display: none;
            }
        }
    }
    .footer {
        height: 130px;
        .logo-footer {
            margin-top: 40px;
        }
        .social-wrapper{
            margin-top: 40px;
        }

    }


}

@media (max-width: 991px) {

  
    
    .promo {
        height: 550px;
        padding: 0 150px;
        &__text-side {
            margin-top: 100px;
            h1 {
                font-size: 42px;
            }
            .description {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .frame {
            width: 300px;
            height: 320px;
            img {
                width: 280px;
                height: 280px;
                transform: translate(-30px, 10px);
            }
        }
        .promo__photo-side {
            margin-top: 120px;
        }
    }
    .service {
        height: auto;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 0;
        .service__wrapper {
            flex-wrap: wrap;
            .item {
                margin: 0 auto 100px auto;
                text-align: center;
            }
        }
    }
    .care__photo-side {
        display: none;
    }
    .care__text-side {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .care {
        .wrapper {
            width: 700px;
        }
    }
    .container__prices {
        width: 100%;
    }
    .prices__left-side {
        .right-cub {
            display: none;
        }
        button {
            width: 200px;
            display: block;
            margin: 20px auto;
            position:unset;
        }
    }    
    .prices__right-side {
        .price-list {
            padding-left: 0;
        }
        .left-cub {
            display: none;
        }
        button {
            width: 200px;
            display: block;
            margin: 20px auto;
        }
    }
    .testimonials {
        padding-bottom: 50px;
        height: auto;
        .comment__wrapper {
            flex-wrap: wrap;
            .comment__block {
                margin: 0 auto 50px auto;
            }
        }
    }
    .benefits {
        height: auto;
        padding: 50px 100px 0;
        .main-wrapper {
            display: flex;
            text-align: center;
            justify-content: space-between;
            margin-bottom: 50px;
            .wrapper {
                flex-direction: column;
                .item {
                    margin-bottom: 50px;
                    .cub-border {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .discount {
        height: auto;
        display: block;
            .left-side {
                width: 100%;
                margin: 0 auto;
                br {
                    display: none;
                }
                .title {
                    text-align: center;
                }
                .discount__header {
                    text-align: center;
                    font-size: 32px;
                    line-height: 48px;
                }
                p {
                    text-align: center;
                }
                .dis-block {
                    display: none;
                    margin: 0 auto;
                }
            }
           
        .dis-descr{ 
            width: 50%;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        
        .right-side {
            width: 100%;
            form {
                display: block;
                margin: 0 auto; 

            }
        }
    }
    .footer {
        .social-wrapper {
            width: 25%;
        }
    }
    
    
}



@media (max-width: 768px) {
   
    .promo,
    .service,
    .care,
    .testimonials,
    .benefits,
    .discount,
    .prices {
        height: auto;

    }
    .promo {
        padding: 50px 90px;
        .promo__photo-side {
            display: none !important;
        }
        .promo__text-side {
            h1 {
                padding: 0 100px;
                br {
                    display: none;
                }
            }
            width: 100%;
            display: block;
            margin: 0 auto;
            text-align: center;
            .welcome {
                display: none;
            }
        }
        
    }
    .care {
        padding: 50px 95px;
    }
    .care .wrapper {
        width: 100%;
        
        .item {
            width: 150px;
            height: 150px;
            img {
                width: 60px;
                height: 50px;
            }
            
            .item-name {
                font-size: 16px;
                
            }
        }
    }
    .care__text-side {
        p {
            font-size: 16px;
        }
    }

    .prices {
        padding: 0;
        .prices__header {
            font-size: 36px;
        }
        .container__prices {
            padding: 50px 20px;
            .prices__left-side {
                padding:  0;
                width: 100%;
                margin-top: 40px;
                margin-bottom: 0;
            }
            .prices__right-side {
                padding:  0;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 10px;
            }
        
        }
    }
    .testimonials {
        &__header {
            font-size: 38px;
        }
        .comment__wrapper {
            display: block;
            .comment__block {
                max-width: 75%;

            }
        }
    }

    .benefits {
        padding-left: 30px;
        padding-right: 30px;
        .benefits__header {
            font-size: 40px;
        }
        .wrapper {
            
            .item {
                width: 310px;
            }
            .last-item {
                margin-top: 20px;
                span {
                    display: none;
                }
            }
        }
    }
    .discount {
        padding-top: 50px;
        padding-bottom: 50px;
        .left-side {
            .dis-descr {
                width: 100%;
                p {
                    padding: 0 30px;
                }
                .discount__header {
                    line-height: 42px; 
                    
                } 
            }
               
        }
    }
    .footer {
        height: 135px;
        padding: 0 30px;
        .logo-footer {
            margin-top: 40px;
            width: 230px;
            height: 60px;

        }
        .social-wrapper {
            margin-top: 40px;
            width: 30%;
        }
    }
   
}
@media (max-width: 720px) {
    
    .promo {
        .promo__text-side {
            h1 {
                padding: 0 50px;
            }
        } 
    }
}

@media (max-width: 480px) {
    .header {
        .header__wrapper {
            font-size: 14px;
            .header__phone {
                padding: 0 20px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            
        }
    }

    .promo,
    .service,
    .care,
    .testimonials,
    .benefits,
    .discount,
    .prices {
        height: auto;

    }
    .promo {
        padding: 50px 0px;
        .promo__photo-side {
            display: none !important;
        }
        .promo__text-side {
            h1 {
                font-size: 36px;
                br {
                    display: none;
                }
            }
            width: 100%;
            display: block;
            margin: 0 auto;
            text-align: center;
            .welcome {
                display: none;
            }
        }
        
    }
    .service {
        padding: 50px 15px;
        &__wrapper {
            img {
                width: 250px;
                height: 170px;
            }
            
        }
        .service__wrapper {
            .item {
                margin: 0 auto 50px auto;
            }
        }
    }


    .care {
        padding: 50px 15px;
    }

    .care .wrapper {
        margin-top: 30px;
        width: 100%;
        
        .item {
            width: 120px;
            height: 120px;
            img {
                width: 50px;
                height: 40px;
            }
            
            .item-name {
                line-height: 18px;
                font-size: 16px;
                
            }
        }
    }
    .care__text-side {
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 12px;
            line-height: 20px;
        }
    }

    .prices {
        padding: 0 15px;
        .prices__header {
            font-size: 30px;
        }
        .container__prices {
            padding: 50px 20px;
            .prices__left-side {
                img {
                    display: none;
                }
                padding:  0;
                width: 100%;
                margin-top: 40px;
                margin-bottom: 0;
                .price-list {
                    width: 100%;
                    padding-left: 0;
                }
            }
            .prices__right-side {
                padding:  0;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 10px;
                img {
                    display: none;
                }
                .price-list {
                    width: 100%;
                    padding-right: 0;
                }
            }
        
        }
    }
    .testimonials {
        padding: 25px 25px;
        &__header {
            font-size: 32px;
        }
        .comment__wrapper {
            .comment__block {
                max-width: 100%;
                margin-bottom: 50px;
                .text {
                    font-size: 16px;
                }
            }
        }
    }

    .benefits {
        padding: 50px 20px 0px 20px;
        .benefits__header {
            font-size: 30px;
        }
        .wrapper {
            
            .item {
                width: 220px;
                .cub-border {
                    width: 60px;
                    height: 60px;
                    .cub {
                        width: 52px;
                        height: 52px;
                    }
                }
                h3 {
                    font-size: 16px;

                }
                p {
                    font-size: 14px;
                    padding: 0 15px;

                }
            
            }
            .last-item {
                margin-top: 0;
                span {
                    display: none;
                }
            }   
        }
        .main-wrapper {
            margin-bottom: 0;
        }
    }
    .discount {
        padding: 50px 15px;
        .left-side {
            
            .dis-descr {
                width: 100%;
                .discount__header {
                    line-height: 32px; 
                    font-size: 26px;

                    
                } 
                p {
                    padding: 0 30px;
                    font-size: 16px;
                }
            }
               
        }
        .right-side {
            padding: 0 50px;
            form {
                padding: 10px 40px;
                width: 100%;
                height: 300px;
                button {
                    width: 100%;
                    height: 45px;
                    font-size: 16px;

                }
                input {
                    height: 45px;
                    font-size: 14px;
                    padding: 10px;

                }
                textarea {
                    display: none;
                    font-size: 14px;
                    height: 60px;
                }
            }
        }
    }
    .footer {
        height: 70px;
        padding: 0 30px;
        .logo-footer {
            margin-top: 20px;
            width: 150px;
            height: 30px;

        }
        .social-wrapper {
            margin-top: 20px;
            .item {
                width: 20px;
                height: 20px;
            }
        }
    }
   
}

@media (max-width: 320px) {
     

    .header {
        padding: 0 10px;
        height: 50px;
        .header__logo {
            bottom: 0;
            img {
                width: 150px;
            }
        }
        .header__wrapper {
            top: 50px;
            font-size: 14px;
            .header__phone {
                font-size: 12px;
                padding: 0 25px;
                color: #fff;
                a {
                    color: white;
                }
                img {
                    display: none;
                    width: 20px;
                    height: 20px;
                }
            }
            .header__socials {
                align-items: center;
                height: 30%;

            }
            
        }
    }

    .promo {
        margin-top: 50px;
        padding: 50px 0px;
        .promo__photo-side {
            display: none !important;
        }
        .promo__text-side {
            .description {
                font-size: 12px;
            }
            h1 {
                font-size: 30px;
                br {
                    display: none;
                }
            }           
            width: 100%;
            display: block;
            margin: 0 auto;
            text-align: center;
            .welcome {
                display: none;
            }
        }
        
    }
    
    .care {
        padding: 50px 15px;
    }

    .care .wrapper {
        display: block;
        width: 100%;
        
        .item {
            margin: 30px auto 0;
            width: 120px;
            height: 120px;
            img {
                width: 50px;
                height: 40px;
            }
            
            .item-name {
                line-height: 18px;
                font-size: 16px;
                
            }
        }
    }
    .care__text-side {
        h2 {
            font-size: 26px;
        }
        p {
            padding: 0 20px;
            font-size: 12px;
            line-height: 20px;
        }
    }

    .prices {
        padding: 0 15px;
        .prices__header {
            font-size: 24px;
        }
        .container__prices {
            padding: 50px 0px;
            .prices__left-side {
                img {
                    display: none;
                }
                padding:  0;
                width: 100%;
                margin-top: 0px;
                margin-bottom: 0;
                .price-list {
                    width: 100%;
                    padding-left: 0;
                }
            }
            .prices__right-side {
                padding:  0;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 10px;
                img {
                    display: none;
                }
                .price-list {
                    width: 100%;
                    padding-right: 0;
                    margin-top: 0;
                }
            }
        
        }
    }
    .testimonials {
        padding: 25px 15px;
        &__header {
            font-size: 32px;
        }
        .comment__wrapper {
            width: 290px;
            .comment__block {
                margin-bottom: 20px;
                width: 290px;
                .text {
                    padding: 20px 35px 20px 25px;
                    font-size: 14px;
                    height: auto;
                    width: 290px;
                }
                .author {
                    width: 290px;
                    .photo-name {
                        .name-block {
                            h3 {
                                font-size: 16px;
                            }
                        }
                    }
                    .quotes {
                        display: none;
                    }
                }
            }
        }
    }

    .benefits {
        margin-bottom: 10px;
        padding: 50px 20px 0px 20px;
        .benefits__header {
            font-size: 26px;
        }
        .wrapper {
            margin-top: 0px;
            .item {
                width: 220px;
                margin: 0 auto;
                .cub-border {
                    width: 60px;
                    height: 60px;
                    .cub {
                        width: 52px;
                        height: 52px;
                    }
                }
                h3 {
                    font-size: 16px;
                }
                p {
                    font-size: 14px;
                    padding: 0 15px;
                }
            
            }
            .last-item {
                margin-top: 0;
                span {
                    display: none;
                }
            }   
        }
        .main-wrapper {
            display: block;
            margin-top: 40px;
        }
    }
    .discount {
        padding: 50px 15px;
        .left-side {
            
            .dis-descr {
                width: 100%;
                .discount__header {
                    line-height: 32px; 
                    font-size: 22px;  
                } 
                p {
                    padding: 0 30px;
                    font-size: 14px;
                }
            }
               
        }
        .right-side {
            padding: 0 15px;
            form {
                padding: 10px 40px;
                width: 100%;
                height: 300px;
                button {
                    width: 100%;
                    height: 45px;
                    font-size: 16px;

                }
                input {
                    height: 45px;
                    font-size: 14px;
                    padding: 10px;

                }
                textarea {
                    display: none;
                    font-size: 14px;
                    height: 60px;
                }
            }
        }
    }
    .footer {
        height: 70px;
        padding: 0 15px;
        .logo-footer {
            margin-top: 20px;
            width: 120px;
            height: 30px;

        }
        .social-wrapper {
            margin-top: 25px;
            .item {
                width: 20px;
                height: 20px;
                img {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
   
}


