
.care {
    height: 835px;
    padding: 140px 120px;
    background: #EBF3F5;
    display: flex;
    justify-content: space-between;

    &__text-side {
        
        .title {
            font-size: 14px;
            text-transform: uppercase;
            color: $color_main;
            
        }
        
        h2 {
            margin-top: 5px;
            font-size: 42px;
            color: $text_header;
            font-family: 'Playfair Display', serif;
            font-weight: 400;
        }
        p {
            margin-top: 15px;
            font-size: 18px;
            color: $text_paragraph;
            line-height: 30px;     
        }
    }
    .wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        width: 580px;
        .item {
            height: 182px;
            width: 185px;
            border: 2px solid #1E2C30;
            background: #fff;
            img {
                display: block;
                margin: 22px auto 12px auto;
            }
            .item-name {
                font-family: 'Playfair Display', serif;
                font-size: 22px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;

            }

        }
    }

    &__photo-side {
        position: relative;
        img {
            width: 480px;
            height: 555px;
        }
        .blue_bg {
            position: absolute;
            left: 50px;
            bottom: 50px;
            width: 460px;
            height: 525px;
        }
        
    }

} 