.prices {
    height: 1700px;
    padding: 100px 0px;

    .title {
        font-size: 15px;
        text-align: center;
        color: $color_main;
        text-transform: uppercase;
    }

    &__header {
        margin-top: 5px;
        font-size: 45px;
        text-align: center;
        color: $text_header;
        font-family: 'Playfair Display', serif;

    }

    &__left-side {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 70px;

        img {
            // display: block;
            width: 50%;
            height: 600px;
        }

        .right-cub {
            display: block;
            position: absolute;
            bottom: 0px;
            right: 510px;
            width: 90px;
            height: 90px;
        }
    }

    .price-list {
        margin-top: 40px;
        width: 50%;
        margin-top: 40px;
        padding-left: 30px;

        .price-list-block {
            margin-top: 10px;

            .service-name {
                display: flex;
                justify-content: space-between;
                font-size: 18px;

                .name {
                    font-size: 22px;
                    font-family: 'Playfair Display', serif;
                }

                .price {
                    font-size: 18px;
                    color: $text_paragraph;

                }

                span {
                    margin-left: 10px;
                    font-size: 21px;
                    font-family: 'Playfair Display', serif;
                    color: $text_header;
                }

            }

            .thick-line {
                width: 100%;
                height: 3px;
                background: $text_header;
            }

            .descrip {
                margin-top: 7px;
                font-size: 18px;
                color: $text_paragraph;
            }

            .slim-line {
                margin-top: 15px;
                width: 100%;
                height: 1px;
                background: #134134;
            }
        }
    }

    button {
        margin-top: 20px;
        width: 245px;
        height: 55px;
        border: 2px solid $color_main;
        text-transform: uppercase;
        font-size: 13px;
        color: $text_header;
        transition: all .3s;

        &:hover {
            cursor: pointer;
            background: $color_main;
            color: #fff;
            transition: all .3s;
        }

    }

    &__right-side {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

        img {
            // display: block;
            width: 50%;
            height: 600px;
        }

        .left-cub {
            display: block;
            position: absolute;
            top: 0px;
            left: 510px;
            width: 90px;
            height: 90px;
        }

        .price-list {
            margin-top: 130px;
            // margin-right: 30px;
        }
        .price-list-low {
            padding-right: 30px;
        }
    }

}


.container__prices {
    margin: 0px auto;
    width: 1200px;
}