
.service {
    height: 730px;
    padding: 100px 100px 110px 100px;
    &__wrapper {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        .item {
            max-width: 350px;
            margin: 0 15px;
        }

        img {
            width: 350px;
            height: 260px;
        }
        h2 {
            margin-top: 15px;
            font-size: 26px;
            font-family: 'Playfair Display', serif;
            color: $text_header;
        }
        p {
            margin-top: 13px;
            font-size: 18px;
            color: $text_paragraph;

        }
        button {
            margin-top: 15px;
            height: 57px;
            width: 157px;
            border: 2px solid $color_main;
            color: $text_header;
            font-size: 13px;
            text-transform: uppercase;
            transition: all .3s;

            &:hover {
                cursor: pointer;
                background: $color_main;
                color: #fff;
                transition: all .3s;


            }
        }
    }
}



