.course {
    padding: 70px 0;
    background: #000 url('../img/course_bg.jpg') center center no-repeat;
    background-size: cover;
    .container {
        max-width: 1300px;
        .course__upper {
            display: flex;
            justify-content: space-around;
            .upper__block {
                margin-top: 40px;
                .block__title {
                    font-size: 34px;
                    line-height: 1.1;
                }
                .block__text {
                    font-size: 34px;
                    line-height: 1.1;
                    font-weight: 400;
                }
                .block__btn {
                    margin-top: 50px;
                    margin-bottom: 50px;
                    width: 160px;
                    height: 55px;
                    background: #BA181B;
                    border-radius: 10px;
                    border: none;
                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;
                    transition: all 0.2s;
                    &:hover {
                        transform: scale(1.05);
                        transition: ease-in-out .2s;
                        background: transparent;
                        border: #E5383B 3px solid;
                        cursor: pointer;
                    }

                }

            }
            .upper__photo {
                img {
                    border-radius: 10px;
                }
            }
        }
        .level_title {
            margin-top: 70px;
            font-size: 34px;
            font-weight: 400;
            text-align: center;

        }
        .level_subtitle {
            margin-top: 15px;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
        }
        .course__lower {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 40px;
            flex-wrap: wrap;
            text-align: center;


            .lower__item {
                margin: 20px 12px;
                
                
                .text {
                    font-size: 24px;
                    font-weight: 500;

                }
                .photo {
                    border-radius: 15px;
                    margin-top: 15px;
                    width: 100%;
                    transition: ease-in-out .2s;
                    opacity: .9;

                    &:hover {
                        opacity: 1;
                        transform: scale(1.1);
                        transition: ease-in-out .2s;
                        cursor: pointer;
                    }


                }
            }
        }
    }
}