.style {
    padding: 55px 0 85px 0;
    background: #000 url('../img/course_bg.jpg') center center no-repeat;
    background-size: cover;

    .style__title {
        font-size: 38px;
        text-align: center;
    }
    .container {
        max-width: 1400px;
        margin: 25px auto 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .style__item {
            margin: 40px 15px 0 15px;
            position: relative;
            display: flex;
            align-items: center;
            opacity: 0.9;
            transition: ease-in-out .2s;
            cursor: pointer;
            &:hover {
                opacity: 1;
                transform: scale(0.9);
                transition: ease-in-out .2s;
            }
   
            .style__text {
                background: #0b090a;
                opacity: 0.8;
                width: 100%;
                position: absolute;
                text-align:center;
                line-height: 45px;
            }
            .style__photo {
                border-radius: 15px;                
            }
        }
    }
}