* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
html {
    background: rgb(27, 2, 2);
    scroll-behavior: smooth;
}
.home {
    height: 100vh;
    background: url('../img/home__background.jpg') center center/cover no-repeat; 
    background-size: 100% 100%;
}

header {
    height: 50px;
    width: 100%;
    background: rgba(25,5,10, 0.5);
    padding: 0 128px 0 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    justify-content: end;
    width: 35%;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: rgb(255, 255, 255, 0.7);
}

ul a:hover {
    color: #fff;
}

.container_home {
    width: 450px;
    margin-left: 10%;
    margin-top: 7%;
}

.home h1 {
    font-size: 80px;
    font-weight: 300;
    line-height: 100px;
}

.home h1 span {
    font-weight: 500;
}

.home .home_descr{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(255, 255, 255, 0.7);
}

.mail_text {
    margin-top: 70px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(255, 255, 255, 0.7);
}

form {
    margin-top: 20px;
}

form input {
    background: #59020980;
    width: 250px;
    height: 40px;
    border-radius: 16px;
    border: none;
    padding-left: 15px;
    outline: none;
    margin-right: 20px;
    /* box-shadow: 0 0 10px #000; */
    transition: 0.3s;
}

form button {
    background:rgb(2,73,89,.4);
    width: 150px;
    height: 40px;
    border-radius: 16px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255, 0.7);
    box-shadow: 0 0 10px #000;
    transition: 0.3s;
}

form button:hover {
    /* transform: scale(1.1); */
    transition: 0.3s;
    cursor: pointer;
    opacity: 1.2;
    box-shadow: none;
    border: 1px solid gray;
}

form input:hover {
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 1.2;
    box-shadow: 0 0 10px #000;
    border: 1px solid darkred;
}

form input:focus {
    transform: scale(1.1);
}

/* about section */

.about {
    margin-top: 10px;
    height: 100vh;
    background: url('../img/bg_2.jpg') center center/cover no-repeat;
    padding-top: 7%; 
    position: relative;
}

.astronaut {
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 15px;
    opacity: 0.6;
    box-shadow: 0 0 50px rgb(0, 0, 0);
}

.about_text {
    width: 45%;
    margin: 0 auto;
    text-align: justify;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.about_title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.about_sub-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.about_descr {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


/* product 1 */

.product_1 {
    margin-top: 10px;
    height: 100vh;
    background: url('../img/bg_1.jpg') center center/cover no-repeat;
    display: flex;
    padding-top: 10%; 
}

.foto_div {
    width: 50%;
}
.product_1 img {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 80%;
    box-shadow: 0 0 50px #000;
    border-radius: 20px;
}


.text_div {
    width: 50%;
}

.product_text {
    width: 60%;
    margin-top: 15%;
}

.product_title {
    font-weight: 500;
    font-size: 24px;
}

.product_descr {
    margin-top: 15px;
    font-weight: 300;
    font-size: 18px;
    opacity: .7;
}

.btn_buy {
    display: block;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    background: #024959;
    border-radius: 15px;
    border: none;
    color:rgba(255, 255, 255, 0.9);
    transition: 0.3s;
}

.btn_buy:hover {
    transition: 0.3s;
    cursor: pointer;
    opacity: 1.2;
    box-shadow: none;
    border: 1px solid gray;
    transform: scale(1.1);
}

/* product 2 */

.product_2 {
    margin-top: 10px;
    height: 100vh;
    background: url('../img/bg_2.jpg') center center/cover no-repeat;
    display: flex;
    padding-top: 10%; 
}

.product_2 img {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 80%;
    box-shadow: 0 0 50px #000;
    margin-right: 35%;
    border-radius: 20px;
}

.text_div_2 {
    display: block;
    margin: 0 auto;
    margin-left: 15%;
    width: 30%;
}

.product_text_2 {
    margin-top: 25%;
}

/* price_area */

.price_area {
    position: relative;
    margin-top: 10px;
    height: 100vh;
    background: url('../img/bg_1.jpg') center center/cover no-repeat;
}

.card_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10% 15% 0 15%;
}

.card {
    width: 250px;
    height: 400px;
    box-shadow: -5px 5px 15px rgb(204, 34, 34);
    background: rgba(4, 8, 13, 0.6);
    border-radius: 20px;
    padding: 50px 30px;
    text-align: center;
    font-weight: 500;
    transition: .2s;
}

.card:hover {
    cursor: pointer;
    background: rgba(2, 41, 59, 0.6);
    transition: .2s;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);

}

.card_title {
    font-size: 24px;
}

.card_text {
    font-size: 10px;
    margin-top: 30px;
    line-height: 26px;
    color:rgba(255, 255, 255, 0.6);
}

.price {
    font-size: 40px;
    margin-top: 70px;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 50px;
    width: 100%;
    background: rgba(25, 5, 10, 0.5);
    padding: 0 100px;
    align-items: center;
}

.label_name {
    width: 50%;
}

.social {
    width: 50%;
    display: flex;
    justify-content: end;
}

.social_item {
    margin-left: 40px;
}

.social img {
    width: 80%;
    transition: .2s;
}

.social img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: .2s;
}













@media(max-width: 768px){
    *{
        text-align: center;
    }
    nav{
        width: 60%;
    }
    .home h1{
        font-size: 30px;
    }
    .home .home_descr{
        margin-top: 0px;
    }
    .container_home {
        width: 250px;
    }
    .mail_text{
        margin-top: 20px;
    }
    form input{
        width: 170px;
        display: block;
        margin: 0 auto;
    }
    form button{
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {





}