$text_header: #141414;
$text_paragraph: #555555;
$color_main: #5C8692;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

html {
    scroll-behavior: smooth;
}

@import 'sections/promo';
@import 'sections/service';
@import 'sections/care';
@import 'sections/prices';
@import 'sections/testimonials';
@import 'sections/benefits';
@import 'sections/discount';
@import 'sections/footer';
@import 'sections/@media';



