
@media (max-width: 1200px) {

    #data {
        width: 100px;
        margin-right: 10px;
    }
    #adults {
        width: 70px;
        margin-right: 10px;
    }
    #kids {
        width: 70px;
        margin-right: 10px;
    }
    #promo {
        width: 70px;
        margin-right: 10px;
    }
    button {
        width: 100px;      
    }
    .item {
        width: 240px;
        height: 240px;
    }
    .photo_wrapper {
        width: 1100px;
    }
    .photo_wrapper img {
        width: 240px;
    }
}

@media (max-width: 992px) {

    .header {
        height: 70px;
    }
    .header_logo img {
        width: 80%;
    }
    ul a {
        font-size: 15px;
    }
    .header_social img {
        width: 20%;
    }
    .home_title {
        font-size: 40px;
    }
    form {
        height: 130px;
    }

    .item {
        width: 200px;
        height: 200px;
    }

    .photo_wrapper {
        width: 900px;
    }

    .photo_wrapper img {
        width: 200px;
        height: 150px;
    }

    /* .slick-next {
        width: 30px;
        height: 30px;
    } */




}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .home_section{
        height: 200px;
        padding-left: 0;
    }

    .home_title {
        font-size: 24px;
    }
    .home_subtitle {
        font-size: 24px;

    }

    button{
        display: none;
    }
    .home_title {
        font-size: 14px;
    }



    .appartment_section {
        height: 500px;
    }
    .left_side {
        display: none;
    }
    .slider {
        height: 200px;
        width: 100%;
    }
    .slider img {
        width: 100%;
        height: 100%;
    }








    .services_section{
        padding: 20px 50px;
        height: 700px;
        margin-top: 10px;
    }
    .services_title {
        margin-bottom: 10px;
        font-size: 30px;
    }
    .main-wrapper {
        display: flex;
    }
    .wrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .item {
        width: 170px;
        height: 170px;
        margin: 10px;
    }

    .item img {
        width: 70px;
        height: 70px;
    }

    .gallery {
        margin-top: 10px;
        padding-top: 10px;
    }
    
    .title {
        margin-top: 0px;
        font-size: 24px;
    }
    .sub_title{
        display: none;
    }

    .photo_wrapper {
        margin-top: 10px;
        width: 100%;
        height: 750px;
        display: flex;

    }
   
    .photo_wrapper img {
        width: 180px;
        height: 150px;
        margin: 10px;
    }
   
}

/* Iphone 5 */
@media (max-width: 320px) {

}