

/* ----section_gallery---- */

.gallery{
    margin-top: 20px;
    height: 810px;
    background: url('../images/gallery/img_bg.jpg') center center/cover no-repeat;
    padding: 40px 0px 90px 0px;
}
.title{
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}
.sub_title{
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    margin-top: 30px;
    text-align: center;
}
.photo_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 40px 20px 40px;
    width: 1235px;
    height: 445px;
    margin: 70px auto 0 auto;
    background: rgba(255, 255, 255, 0.3);

}
.photo_wrapper img{
    width: 275px;
    height: 185px;
    transition: 0.2s all;

}
.photo_wrapper img:hover{
    transform: scale(1.1);
    transition: 0.2s all;
    border-radius: 10px;
}
