* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Sans Condensed', serif;
    color: #fff;
    background: #0b090a;
}

                       /* home_section */

.home_section {
    background:url(images/home/home_bg.jpg) no-repeat center center/cover;
    height: 900px; 
    
}
.container {
    position: relative;
    height: 900px;
    padding: 17px 105px 30px 105px;
}
header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.header_logo {
    width: 30%;
    display: flex;
}
.logo_text{
    width: 170px;
    height: 48px;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    padding-left: 8px;
}
nav{
    width: 50%;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
}
ul a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family:'Fira Sans Condensed', serif;
    font-size: 18px;
    font-weight: 600;
    
}
ul a:hover{
    text-decoration: underline;
    opacity: .8;
}
.header_btn_section {
    width: 25%;
    display: flex;
    justify-content: end;
    justify-self: end;
}
.header_btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: #E5383B 3px solid;
    border-radius: 10px;
    padding: 13px, 49px, 13px, 49px;
    font-family:'Fira Sans Condensed', serif;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s;
}
.header_btn:hover{
    transform: scale(1.1);
    transition: all ease .2s;
    background: #BA181B;
    cursor: pointer;
}
.home_main_text {
    margin-top: 200px;
    font-size: 38px;
    font-weight: 600;
    line-height: 54px;
    height: 96px;
    width: 420px;
}
.home_text{
    margin-top: 37px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}
.home_btn{
    margin-top: 36px;
    width: 160px;
    height: 55px;
    background: #BA181B;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-family:'Fira Sans Condensed', serif;
    color: #fff;
    transition: all 0.3s;

}
.home_btn:hover{
    transform: scale(1.1);
    transition: ease-in-out .2s;
    background: transparent;
    border: #E5383B 3px solid;
    cursor: pointer;
}
.home_social_wrapper{
    position: absolute;
    width: 250px;
    right: 105px;
    bottom: 30px;
}
.social_text{
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-family:'Fira Sans Condensed', serif;
    color: #fff;
}
.social_container{
   display: flex;
   justify-content: space-between; 
}
   
.social_container img:hover{
    opacity: 0.8;
    cursor: pointer;
    /* border: white solid 1px; */
    transform: scaleX(1.3);
    transition: 0.3s;
}

/* ----Course plan---- */

.course_section{
    height: 1024px;
    background: url('images/course_plan/course_plan_bg.jpg')no-repeat center center/cover;
    margin-top: 30px;
}

.course_text{
    height: 115px;
    width: 500px;
    margin-top: 112px;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
}
.course_btn{
    margin-top: 52px;
    width: 160px;
    height: 55px;
    background: #BA181B;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-family:'Fira Sans Condensed', serif;
    color: #fff;
    transition: all 0.3s;

}
.course_btn:hover{
    transform: scale(1.1);
    transition: ease-in-out .2s;
    background: transparent;
    border: #E5383B 3px solid;
    cursor: pointer;
}
.course_main_photo{
    position: absolute;
    top: 70px;
    right: 105px;
}
.course_main_photo img{
    border-radius: 10px;

}

.course_line_1{
    width: 250px;
    height: 48px;
    margin: 125px auto 0;
    font-size: 34px;
    font-weight: 400;
    line-height: 48px;
}
.course_line_2{
    width: 290px;
    height: 28px;
    margin: 14px auto 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
}

.course_photo_container{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.course_photo_container img{
    width: 270px;
    height: 270px;
    border-radius: 10px;
    opacity: 0.8;
    transition: .3s;
}
.text_photo{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 17px;
    text-align: center;
}
 
.course_photo_container img:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: ease-in-out .2s; 
}
 /* -----Styles----- */

 .styles{
     padding: 55px 50px 88px 50px;
    margin-top: 30px;
    height: 1024px;
    background: url('images/course_plan/course_plan_bg.jpg')no-repeat center center/cover;
 }
 .styles_title{
    margin: 0 auto 0 auto;
    width: 560px;
    height: 46px;
    font-weight: 600;
    font-size: 38px;
 }

 .styles_photo_container{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
 }
 .styles_photo_container img{
    width: 300px;
    height: 230px;
    border-radius: 10px;
    transition: ease-in-out .2s; 
}
.styles_text_photo_wrapper{
    display: flex;
    width: 300px;
    position: relative;
    opacity: 0.8;
    transition: ease-in-out .2s;
}
.styles_text_photo_wrapper:hover{
    opacity: 1;
    transform: scale(0.9);
    transition: ease-in-out .2s;
}
.styles_text_photo{
    height: 45px;
    background: #0b090a;
    opacity: 0.8;
    z-index: 1;
    width: 100%;
    position: absolute;
    text-align:center;
    align-self: center;
    line-height: 45px;
    
}

/* -----sign up section---- */

.sign_up_section{
    display: flex;
    margin-top: 30px;
    height: 900px;

}
.sign_up_left_block{
    background: #0B090A;
    width: 60%;
    padding: 50px 54px 48px 54px; 

}

.sing_up_text_div_1{
    height: 115px;
    margin-left: 50px;

    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
}
.sing_up_text_div_2{
    margin-top: 50px;
    margin-left: 50px;
    height: 52px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}
.sign_up_main_photo{
    margin-top: 62px;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    /* opacity: 0.8;
    transition: ease-in-out .2s; */

}
/* .sign_up_main_photo:hover{
    transform: scale(1.1);
    transition: ease-in-out .2s;
    opacity: 1;


} */

.sign_up_social_wrapper{
    margin-left: 50px;
    margin-top: 39px;
    width: 250px;
    
}



.sign_up_right_block{
    background: #D3D3D3;
    width: 40%;
    padding: 50px 35px 45px 35px;
}
.sign_up_downloads{
    width: 370px;
    height: 160px;
    color: #0B090A;
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;

}
.sign_up_stars_container{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.sign_up_stars_container>img:not(:last-child):hover{
    opacity: 0.5;
}
.sign_up_btn_container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.sign_up_btn{
    background:transparent;
    border: none;
    transition: .2s;

}

.sign_up_btn:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

.sign_up_text_div_3{
    margin-top: 55px;
    color: #0B090A;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.sign_up_feedback_img{
    width: 480px;
    height: 370px;
    margin-top: 50px;
    border-radius: 10px;
}